{% extends 'blog/base_blog.html' %}

{% block title %}
	{{ post.title }} - {{ block.super }}
{% endblock %}

{% block content %}
	<h1 class="mt-5 mb-5">
		{{ post.title }}
	</h1>
	<p>
		{{ post.body }}
	</p>
	{% if post.image %}
		<img class="card-img-top" src="{{ post.image.url }}" style="height: 200px; width: 200px;">
	{% endif %}
	<hr>
	<a href="{% url 'add_comment_to_post_url' slug=post.slug %}">Add comment</a>
	{% for comment in post.comments.all %}
		<div class="card mt-3 mb-5">
			<div class="card-header">
				{{ comment.created_date }}
			</div>
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p>{{ comment.text|linebreaks }}</p>
					<footer class="blockquote-footer">{{ comment.author }}</footer>
				</blockquote>
			</div>
		</div>
	{% empty %}
		<p>No comments here yet:</p>
	{% endfor %}
{% endblock %}